<header class="container site-header">
      <h1 class="header-title"><em><%= link_to 'RSVPeazy', :root %></em></h1>
</header>

<h4 class="create-link"><%= link_to 'Create New Event', new_event_path %></h4>
<h5 class="create-link"><%= link_to 'Back to My Events', events_path %></h5>

<div class="text-center form-container">
<%= bootstrap_form_for :event, url: event_path(@event), method: :patch do |f| %>

    <%= f.text_field :name, label: "Event Name:", :class => 'better-form' %>

    <%= f.text_field :address, label: "Address:", :class => 'better-form' %>

    <%= f.text_field :city, label: "City:", :class => 'better-form' %>

    <%= f.text_field :state, label: "State:", :class => 'better-form' %>

    <%= f.date_field :date, label: "Choose Date:", :class => 'better-form' %>

    <%= f.time_field :start_time, label: "Start Time:", :class => 'better-form' %>

    <%= f.time_field :end_time, label: "End Time(if any...):", :class => 'better-form' %>

    <%= f.url_field :img_url, label: "image url:", :class => 'better-form' %>

    <%= f.text_area :description, label: "Add a Note:", :class => 'better-form' %>

    <%= f.submit "Submit" %>
<% end %>
</div>
