<header class="container site-header">
      <h1 class="header-title"><em><%= link_to 'RSVPeezy', :root %></em></h1>
</header>

<% if @current_user %>
  <h4 class="create-link"><%= link_to "Welcome, #{@current_user.username}!", user_path(@current_user) %></h4>
  <h4 class="create-link"><%= link_to 'Create New Event', new_event_path %></h4>
  <h4 class="create-link"><%= link_to "Edit profile", edit_user_path(@current_user) %></h4>
  <h4 class="create-link"><%= link_to 'My Events', user_path(@current_user) %></h4>
  <h4 class="create-link"><%= link_to "Edit This Event", edit_event_path(@event) %></h4>
  <h4 class="create-link"><%= link_to "Sign Out", session_path, method: :delete %>
<% else %>
  <h4 class="create-link"><%= link_to 'Sign Up', new_user_path %></h3>
  <h4 class="create-link"><%= link_to 'Sign In', new_session_path %>
<% end %>

  <div class="container event-container text-center">

    <h2 class="text-center"><%= @event.name %></h2>
    <h2 class="text-center"><%= @event.date.strftime("%d-%m-%Y") %></h2>

  <div class="flyer text-center">
    <%= image_tag @event.img_url, :class => 'event-img' %>
  </div>
    <h2 class="text-center"><%= @event.address %></h2>
    <h2 class="text-center"><%= @event.city %>,</h2>
    <h2 class="text-center"><%= @event.state %></h2>

    <div class="event-description text-center">
      <%= @event.description %>
    </div>
    <h4 class="text-center">Are you going?</h4>
    <div class="guest-form text-center">
      <%= bootstrap_form_for([@event, @event.guests.build]) do |f| %>
        <%= f.text_field :name, label: "Name:", :class => 'better-form' %>
        <%= f.text_field :message, label: "Add a Message:", :class => 'better-form' %>
        <%= f.submit %>
      <% end %>
    </div>
  <h4 class="guest-total">total guests: <%= @event.guests.count %></h4>
  <h4 class="text-center">see who's going:</h4>
  <div class="text-center guest-list" class="">
    <% @event.guests.order('created_at DESC').each do |guest| %>
        <h6 class"guest-name"><%= guest.name %></h6>
        <p class="guest-message"><%= guest.message %></p>
    <% end %>
  </div>
</div>
