<div class="container event-container text-center">

    <h2 class="text-center"><%= @event.name %></h2>
    <% if @event.date %>
      <h2 class="text-center"><%= @event.date.strftime("%m-%d-%Y") %></h2>
    <% end %>
      <h2 class="text-center"><%= @event.start_time %> to <%= @event.start_time %></h2>

  <div class="flyer text-center">
    <%= image_tag @event.img_url, :class => 'event-img' %>
  </div>
    <h2 class="text-center" id="address"><%= @event.address %></h2>
    <h2 class="text-center" id="state"><%= @event.city %>, <%= @event.state %></h2>

    <div class="event-description text-center">
      <%= @event.description %>
    </div>
    <h2 class="text-center" id="share">Share Link: <%= event_url(@event) %></h2>
    <h4 class="text-center">Are you going?</h4>
    <h4 class="text-center">RSVP:</h4>
    <div class="guest-form text-center">
      <%= bootstrap_form_for([@event, @event.guests.build]) do |f| %>
        <%= f.text_field :name, label: "Name:", class: 'better-form' %>
        <%= f.text_field :email, label: "Email:", class: 'better-form' %>
        <%= f.text_field :message, label: "Add a Message:", class: 'better-form' %>
        <%= f.submit "Add" %>
      <% end %>
    </div>
  <h4 class="guest-total">total guests: <%= @event.guests.count %></h4>
  <h4 class="text-center">see who's going:</h4>
  <div class="text-center guest-list" class="">
    <% @event.guests.order('created_at DESC').each do |guest| %>
        <h6 class"guest-name"><%= guest.name %></h6>
        <p class="guest-message"><em><%= guest.message %></em></p>
    <% end %>
  </div>
</div>
