<!DOCTYPE html>
<html>
<head>
  <title>RSVPeezy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container site-header">
        <h1 class="header-title"><em><%= link_to 'RSVPeeeezy', :root %></em></h1>
  </header>
  <% if @current_user %>
    <h4 class="create-link"><%= link_to "See Your Events", user_path(@current_user) %></h4>
    <h4 class="create-link"><%= link_to 'Create New Event', new_event_path %></h4>
    <h4 class="create-link"><%= link_to "edit profile", edit_user_path(@current_user) %></h4>
    <h4 class="create-link"><%= link_to "Sign Out", session_path, method: :delete %></h4>
  <% else %>
    <h4 class="create-link"><%= link_to 'Sign Up', new_user_path %></h4>
    <h4 class="create-link"><%= link_to 'Sign In', new_session_path %></h4>
  <% end %>

<%= yield %>

</body>
</html>
